body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
p{
    color: rgb(85, 81, 81);
}
ul, ol li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
    font-weight: bold;
}
.menu{
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.menu li{
    display: inline;
    padding-left: 12px;
    margin: 0 auto;
}
.menu img{
    width: 8vh;
    height: 8vh;
}
.imagem{
    /* border: solid blue 2px; */
    border-radius: 50%;
}
.banner{
    padding-top: 30vh;
    padding-bottom: 40vh;
    background-image: url('../images/Fundo.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.banner h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10vh;
    text-align: center;
    color: whitesmoke;
}
.banner p{
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}
.receita-bolovo{
    margin-top: 4vh;
    display: flex;
    align-items: center;
}
.receita-bolovo p{
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
#titulo1 {
    display: center;
}
.bolovo{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.bolovo div, article{
    justify-content: center;
    text-align: center;
    padding: 3vh;
}
/* .bolovo-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 3vh;

} */
footer{
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: darkturquoise;
}
footer ol{
    display: inline;
}
footer > div > ol > li:first-child{
    font-weight: bold;
    margin-bottom: 2vh;
}